body {
  background-color: darkgray;
}

.container {
  text-align: center;
  margin-top: 100px;
}

.box {
  width: 500px;
  height: 500px;
  background-color: rgb(10, 10, 10);
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 5px;
}

.mini-box {
  width: 20px;
  height: 20px;
  background-color: rgb(141, 137, 137);
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 1px;
  float: left;
  /* display: table-cell; */
  /* vertical-align: middle; */
}

.mini-box:hover {
  background-color: white;
}
