.signup-form {
  padding: 1rem;
  border-radius: 15px;
  border: 2px solid rgb(25, 87, 187);

  .toast {
    background: rgb(176, 210, 211);
    border-radius: 5px;
    border: 1px solid black;
  }
}
