* {
  box-sizing: border-box;
}

body {
  font-style: italic;
  font-size: xx-large;
  font-weight: 400;
}
.header {
  padding: 5px;
  background-color: darkturquoise;
  color: darkviolet;
  text-shadow: firebrick;
  text-align: center;
}

.row {
  /* background-color: gold; */
  display: -webkit-flex;
  display: flex;
  /* text-shadow: indigo; */
  text-align: center;
}

.column {
  padding: 5px;
  height: 600px;
}

.column.side {
  background-color: rgb(72, 177, 247);
  -webkit-flex: 1;
  -ms-flex: 1;
  text-align: middle;
  flex: 1;
  text-align: center;
  width: 12px;
  /* padding: 40px; */
}

.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  background-color: #f0d9d9;
  text-align: center;
  width: 12px;
}
.column.end {
  background-color: rgb(247, 193, 18);
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  width: 12px;
}

.footer {
  background-color: lawngreen;
  padding: 5px;
  text-align: center;
}
